In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [3]:
depression_validation = pd.read_csv('data_valid_depr.csv')
anxiety_validation = pd.read_csv('data_valid_anx.csv')
stress_validation = pd.read_csv('data_valid_str.csv')

display(depression_validation, anxiety_validation, stress_validation)

,Q3A,Q5A,Q10A,Q13A,Q16A,Q17A,Q21A,Q24A,Q26A,Q31A,...,screensize,hand,religion,orientation,race,voted,married,familysize,AgeGroups,Condition
0,3,3,3,2,3,3,3,3,3,3,...,1,1,2,2,20,2,1,3,2,2
1,0,0,0,0,1,1,1,1,0,0,...,1,1,10,1,10,2,1,2,2,0
2,1,1,2,1,1,1,1,1,2,1,...,2,1,8,2,10,2,1,2,2,1
3,1,1,2,1,1,0,0,1,2,2,...,2,1,10,1,10,1,1,2,2,0
4,2,2,2,3,2,1,2,3,2,1,...,1,0,10,1,10,2,1,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4195,1,2,1,1,1,1,1,1,2,1,...,1,3,7,0,70,2,2,3,4,1
4196,0,3,0,0,3,0,0,3,0,3,...,2,1,7,1,30,2,1,3,2,1
4197,2,3,3,2,3,2,2,3,3,2,...,2,1,1,1,60,2,1,4,4,2
4198,1,0,0,0,0,0,0,0,0,1,...,1,1,10,1,10,2,1,2,1,0
4199,0,0,0,1,2,1,2,0,2,1,...,1,1,10,2,10,2,1,6,2,0

,Q2A,Q4A,Q7A,Q9A,Q15A,Q19A,Q20A,Q23A,Q25A,Q28A,...,screensize,hand,religion,orientation,race,voted,married,familysize,AgeGroups,Condition
0,0,1,3,3,3,3,2,1,1,3,...,2,1,12,1,60,1,1,4,2,2
1,1,0,0,3,1,0,3,0,2,1,...,1,1,10,1,10,2,1,4,3,1
2,0,0,1,0,1,0,1,1,0,1,...,1,2,10,1,10,2,1,4,2,0
3,3,1,0,3,0,1,0,0,2,1,...,1,1,1,1,10,1,1,2,3,1
4,1,1,0,1,1,1,1,0,2,1,...,2,2,12,3,60,2,1,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4195,0,3,3,3,1,1,3,3,2,3,...,2,1,12,5,70,1,1,2,2,2
4196,1,0,2,3,1,3,0,0,3,0,...,1,1,2,2,70,2,1,4,1,1
4197,1,0,0,1,0,0,0,0,1,0,...,2,1,7,1,60,1,2,1,4,0
4198,1,1,0,1,0,0,1,1,0,0,...,1,1,10,1,10,2,2,6,3,0
4199,0,0,1,1,1,0,2,0,1,1,...,1,1,10,1,10,2,1,11,1,0

,Q1A,Q6A,Q8A,Q11A,Q12A,Q14A,Q18A,Q22A,Q27A,Q29A,...,screensize,hand,religion,orientation,race,voted,married,familysize,AgeGroups,Condition
0,3,3,3,3,3,3,3,3,3,3,...,2,1,1,2,60,1,1,1,2,2
1,0,0,1,1,1,0,0,1,0,0,...,1,1,10,1,70,2,3,6,5,0
2,1,2,2,2,1,2,3,1,3,3,...,1,1,10,0,10,2,3,2,2,2
3,2,3,0,3,3,1,2,3,3,3,...,1,1,10,2,10,2,1,6,2,2
4,1,1,1,0,2,0,0,0,1,1,...,1,1,10,0,10,2,1,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4195,0,0,3,0,3,0,1,0,3,0,...,2,2,1,1,60,2,1,2,1,1
4196,3,2,3,2,2,2,0,2,3,2,...,2,1,4,2,70,1,1,3,2,2
4197,0,0,0,0,0,0,0,0,0,0,...,1,1,10,1,10,2,1,6,2,0
4198,2,1,3,1,1,0,2,0,2,2,...,2,1,0,1,10,2,1,2,2,1
4199,1,0,0,0,1,1,0,1,2,0,...,1,1,10,1,10,2,1,5,2,0

In [4]:
model_depression = tf.keras.models.load_model("depression_model.h5")
model_anxiety = tf.keras.models.load_model("anxiety_model.h5")
model_stress = tf.keras.models.load_model("stress_model.h5")

In [5]:
model_depression.summary()
model_anxiety.summary()
model_stress.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Input (Dense)               (None, 512)               28160

 dense (Dense)               (None, 256)               131328

 Condition (Dense)           (None, 3)                 771

=================================================================
Total params: 160,259
Trainable params: 160,259
Non-trainable params: 0
_________________________________________________________________
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Input (Dense)               (None, 512)               28160

 dense (Dense)               (None, 256)               131328

 Condition (Dense)           (None, 3)                 771

=================================================================
Total params: 160,259
Trainable params: 160,259
Non-trainable params: 0
_________________________________________________________________
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Input (Dense)               (None, 512)               28160

 dense (Dense)               (None, 256)               131328

 Condition (Dense)           (None, 3)                 771

=================================================================
Total params: 160,259
Trainable params: 160,259
Non-trainable params: 0
_________________________________________________________________

In [6]:
index=5
X_hasil_depression = depression_validation.copy()
X_hasil_depression=X_hasil_depression = X_hasil_depression.iloc[:,0:54]#.values
X_hasil_depression=X_hasil_depression.loc[index].values
X_hasil_depression=np.array(X_hasil_depression).astype('float32').reshape((1,-1))
print(X_hasil_depression, depression_validation.loc[index,["Condition"]])

X_hasil_anxiety = anxiety_validation.copy()
X_hasil_anxiety=X_hasil_anxiety = X_hasil_anxiety.iloc[:,0:54]#.values
X_hasil_anxiety=X_hasil_anxiety.loc[index].values
X_hasil_anxiety=np.array(X_hasil_anxiety).astype('float32').reshape((1,-1))
print(X_hasil_anxiety, anxiety_validation.loc[index,["Condition"]])

X_hasil_stress = stress_validation.copy()
X_hasil_stress=X_hasil_stress = X_hasil_stress.iloc[:,0:54]#.values
X_hasil_stress=X_hasil_stress.loc[index].values
X_hasil_stress=np.array(X_hasil_stress).astype('float32').reshape((1,-1))
print(X_hasil_stress, stress_validation.loc[index,["Condition"]])

[[ 3.  3.  3.  3.  3.  3.  3.  3.  3.  2.  3.  3.  3.  3.  5.  6.  2.  7.
   5.  4.  5.  6.  1.  5.  1.  0.  0.  1.  0.  0.  0.  0.  0.  1.  0.  0.
   0.  0.  1.  1.  1.  1.  2.  2. 16.  1.  1. 10.  1. 10.  2.  1.  4.  1.]] Condition    2
Name: 5, dtype: int64
[[ 0.  0.  0.  3.  0.  2.  2.  0.  0.  1.  3.  1.  3.  0.  7.  5.  6.  6.
   6.  5.  7.  2.  6.  5.  1.  1.  0.  1.  1.  0.  0.  1.  0.  1.  0.  0.
   1.  1.  1.  1.  3.  3.  2.  2. 24.  2.  1. 10.  1. 10.  2.  1.  4.  3.]] Condition    1
Name: 5, dtype: int64
[[ 1.  1.  2.  1.  0.  3.  1.  1.  0.  1.  2.  1.  0.  0.  6.  3.  6.  4.
   5.  7.  4.  1.  5.  6.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.
   0.  0.  0.  0.  3.  2.  1.  2. 21.  1.  1. 10.  5. 10.  2.  1.  3.  2.]] Condition    1
Name: 5, dtype: int64

In [7]:
hasil_akhir_depression = model_depression.predict(X_hasil_depression)
hasil_akhir_anxiety = model_anxiety.predict(X_hasil_anxiety)
hasil_akhir_stress = model_stress.predict(X_hasil_stress)

#print('Tingkat depresi: ',hasil_akhir_stress)
print('Tingkat depresi: ',np.argmax(hasil_akhir_depression))
print('Tingkat anxiety: ',np.argmax(hasil_akhir_anxiety))
print('Tingkat stress: ',np.argmax(hasil_akhir_stress))

1/1 [==============================] - 0s 216ms/step
1/1 [==============================] - 0s 86ms/step
1/1 [==============================] - 0s 68ms/step
Tingkat depresi:  2
Tingkat anxiety:  1
Tingkat stress:  2